body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 90px 20px 90px;
    background-color: #f4f4f9; /* พื้นหลังสีอ่อน */
}

/* Footer */
footer {
    width: 100%; /* ขยายให้เต็มความกว้าง */
    padding: 20px 0; /* เพิ่ม padding ด้านบนและล่าง */
    color: #42445A;
    text-align: center;
    left: 0; /* ให้ footer เริ่มต้นจากขอบซ้ายของหน้าจอ */
}

/* Footer Content */
.footer-content {
    margin: 0 auto; /* จัดตำแหน่งให้อยู่กลาง */
}

.footer-content p {
    font-size: 1rem;
}