body {
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#x1y2z3 {
    text-align: center;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    background-color: #222;
    color: #eee;
    border: none;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

textarea {
    width: 90%;
    height: 200px;
    margin: 20px auto;
    display: block;
    background-color: #222;
    color: #eee;
    border: none;
    border-radius: 5px;
    padding: 10px;
}